---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers?include=services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer NepuTdN6o7LQzsj2gE4gIs0WUQ8EABTY-lkj1TIWCHaDzDaP551b0ioPENSIWKgKRttDJCHcdG0HWIjsZE99gTwvH8s9YkUYva3pxvkyH2OizcE0LZZI6C17nw31izWylqMpj5omRvGteXgw--kyMQv7HXg52QEl07Lsdz98HusKXM_A-osomdL7Wezr79pY3q9uU7TlL407-3V1mb8dYLnRn4III5Hvjak3fmnGXK7yZHK55wUpdRdVMnNAaaZW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Id":"deb6893f-c2a5-4be0-a20a-4c0c28d2065f","Name":"Yodel","Private":false,"Editable":false,"Services":[{"Id":"f679eada-b61f-4292-b17b-4d14853715c5","Name":"Highlands
        to Mainland","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},{"Id":"2657fa9b-2757-4826-9865-6610cf2bba41","Name":"Highland
        and Islands","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},{"Id":"f84f7f1c-77ea-4190-8f41-8519d6faab17","Name":"48","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},{"Id":"23e10540-670f-4959-98da-875489469765","Name":"24","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},{"Id":"3a6f77d4-c6ab-4207-b471-944270411612","Name":"Northern
        Ireland to UK","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},{"Id":"b57b40a9-8312-435e-b6d0-bce4ebae173a","Name":"Northern
        Ireland","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null}]},{"Id":"de306a53-25c5-48b6-a722-e71a38afbf95","Name":"MyHermes","Private":false,"Editable":false,"Services":[{"Id":"bfe4bd60-39e1-43aa-a61b-0900dc38c5c6","Name":"Parcelshop","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},{"Id":"b42a0b50-0393-43cf-9499-4fe90ec020f7","Name":"Courier","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null}]}]'
  recorded_at: Fri, 06 Feb 2015 14:42:46 GMT
recorded_with: VCR 2.6.0
