---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers/cae6d11a-9fde-4f66-a141-01a86ea8b0ea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer OE7x-0ILBBpV0SJ-1N8HKDTWDDIvHeWs2DPGIn7Nem9R0-t0N0FHGv7vwxKcp1qEZOtCs7DufpJPAgWGCAfNQkA3jGFxCnDZbkMSuutFKSi3iJ7v1ewC8Ph-c12HPen0x2CXyRqXNLxIUHO3M6m1h5IJScMOfJQvd-sIRRUB9zolhwWCu4RtRMBF6SLIRNhwfmc0wCx1rGsE-i2aoYgkkVm-C_wrBXkDtKqqupsmzqp9I1kwGE305LxrNK8uzZSz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"cae6d11a-9fde-4f66-a141-01a86ea8b0ea","Name":"MY NEW CARRIER","Private":true,"Editable":true,"Services":null}'
  recorded_at: Fri, 06 Feb 2015 20:16:41 GMT
- request:
    method: put
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers/
    body:
      encoding: UTF-8
      string: '{"Id":"cae6d11a-9fde-4f66-a141-01a86ea8b0ea","Name":"MY NEW CARRIER","Private":true,"Editable":true,"Services":null,"name":"My
        Updated Carrier"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer OE7x-0ILBBpV0SJ-1N8HKDTWDDIvHeWs2DPGIn7Nem9R0-t0N0FHGv7vwxKcp1qEZOtCs7DufpJPAgWGCAfNQkA3jGFxCnDZbkMSuutFKSi3iJ7v1ewC8Ph-c12HPen0x2CXyRqXNLxIUHO3M6m1h5IJScMOfJQvd-sIRRUB9zolhwWCu4RtRMBF6SLIRNhwfmc0wCx1rGsE-i2aoYgkkVm-C_wrBXkDtKqqupsmzqp9I1kwGE305LxrNK8uzZSz
  response:
    status:
      code: 405
      message: Method Not Allowed
    headers:
      Allow:
      - POST,GET
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"The requested resource does not support http method ''PUT''."}'
  recorded_at: Fri, 06 Feb 2015 20:16:42 GMT
recorded_with: VCR 2.6.0
