---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers/cae6d11a-9fde-4f66-a141-01a86ea8b0ea
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer mX0do9pfLY23xINzIH45TKlQpQRjoBVi_SrxTf3YfVMUqpycJQYKuOY7W-6m1TC4_NCq2le7NjAcctbnaaqd32b4zQN_x6Fz0Viftv4ZbjKQUcSmkX_OvWDzezfISpsztTNscIjp-pjwNPBB2pEZpWLr7Dz-7t4foHJ1QR9I1Skn8AU2FcfgOFo7I1Vwar6V3E59abL6nKa78QHPFITjH52JFeB8biWLWDXtjuZ4xOyMvDhmlCoSvYmFkaLPeMKG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"cae6d11a-9fde-4f66-a141-01a86ea8b0ea","Name":"MY NEW CARRIER","Private":true,"Editable":true,"Services":null}'
  recorded_at: Sat, 07 Feb 2015 11:32:31 GMT
- request:
    method: post
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers/cae6d11a-9fde-4f66-a141-01a86ea8b0ea/services
    body:
      encoding: UTF-8
      string: '{"Name":"MY AWESOME NEW SERVICE","Private":false,"Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"My
        New Service for my carrier","Information":"A wonderful revolutionary tracked
        service"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer mX0do9pfLY23xINzIH45TKlQpQRjoBVi_SrxTf3YfVMUqpycJQYKuOY7W-6m1TC4_NCq2le7NjAcctbnaaqd32b4zQN_x6Fz0Viftv4ZbjKQUcSmkX_OvWDzezfISpsztTNscIjp-pjwNPBB2pEZpWLr7Dz-7t4foHJ1QR9I1Skn8AU2FcfgOFo7I1Vwar6V3E59abL6nKa78QHPFITjH52JFeB8biWLWDXtjuZ4xOyMvDhmlCoSvYmFkaLPeMKG
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 07 Feb 2015 11:32:32 GMT
recorded_with: VCR 2.9.3
