---
http_interactions:
- request:
    method: post
    uri: https://www.sendvia.co.uk/rest/beta/markups
    body:
      encoding: UTF-8
      string: '{"Id":"ccca898c-ff96-4549-8287-d990e3e2d669","Carrier":"deb6893f-c2a5-4be0-a20a-4c0c28d2065f","Service":"f679eada-b61f-4292-b17b-4d14853715c5","Route":"7a300f97-f160-4843-b0eb-81a5f7fbd6c0","Amount":1.0,"Currency":826}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer -mYTdi7qIxTgS7D_E4ujpZ1hWWAqhrGVolg3To3lmu3VU0Knb3RgWcblEl387TXAV527zGRhiVKUE_CicAQVYyS9xeUl9gfECayIhenrXmoX5VpOYBiTeCeNqUknhDHIKEURv-uhPjSG4KXGqSN3gXVIehbpi6TzPQJeVyObOs9aIj-qYBhJtZ94BLvvUd0-KTBMKHrHema532MWUOoAC1R1v64Zj4U67AWXFOJZNyAflMfJDa5xthO71Hlnh57q
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"Authorization has been denied for this request."}'
  recorded_at: Wed, 08 Apr 2015 16:03:57 GMT
recorded_with: VCR 2.9.3
