---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers/deb6893f-c2a5-4be0-a20a-4c0c28d2065f/services/2657fa9b-2757-4826-9865-6610cf2bba41/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer xuHO0C5cn7g4zCWh2kWK7SMOtSZ3vvgpRKp8mMPQdHlXurAp-lauqtTpdSD3Y92o1ALVPdWtylRa43AXo-m5aFQYZ7-1jxwnhfqw3npn57pXAoYVDGp4k7j8jfBFc9BmV05ln-MLxZBc15Mg9311z0n-vMhdsKNgn03OtAx46uhIqcCSI2k-tBsHFSot8mdxZikV0nYuzWMWUuTMMuC2G4tBJUAqGoF7egYdofCFmZPT2VpDHCDjO1Dr6P_MvGhk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Id":"7a300f97-f160-4843-b0eb-81a5f7fbd6c0","Origin":{"Id":"2ddad14a-bb91-49ed-b4c3-000000000080","Name":"Yodel
        - United Kingdom","Description":"Normal (no surcharge) service area for Yodel","Boundary":null,"Format":null},"Destination":{"Id":"9b2561fb-dc5e-45ef-abfd-000000000080","Name":"Yodel
        - UK - Highlands and Islands","Description":"Highlands and Islands service
        area for Yodel","Boundary":null,"Format":null},"MinDays":0,"MaxDays":0,"CollectionTime":0}]'
  recorded_at: Tue, 17 Feb 2015 10:19:18 GMT
recorded_with: VCR 2.9.3
