---
http_interactions:
- request:
    method: post
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers
    body:
      encoding: UTF-8
      string: '{"Editable":true,"Id":"TYGHGHGYHHJ565757657","Name":"MY NEW CARRIER","Private":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer mFPZQZjbKjebZHA_GtX88bcHq1-qCgFTpSYCC2QEbri6cLzeOraK_ylATg79KQoA5zh6wkJqZmG8p1p7cThU9Bxf2hxqGxyn8bAHtQrR_djoMqHMlcuyCZC2IBnmvPi3c3sgoj4BRXXRYMEt8EODlz6PwoKFjeL3nZBEO8UWPOW5ntF0IBQWbypLPokXA47Pr-Oiu4Yp2ztXKsvMYI0VXmQQAzdE_O6BhJ8E1y94ez0lrT3fHAD_eWPCcHJS4OK1
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 16 Mar 2015 15:04:07 GMT
recorded_with: VCR 2.9.3
