---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/beta/carriers/c16d9f5a-55f0-4c9f-b8ae-9b23cc766423
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Q-1C_f1iard8mGq-7r1yDsBrJ58rpnTBbzL-7_skwXmWNP6mlWMn3SCDuDznJoKMax5YZEsklMCmfqI_Cm6IjcWst7Tfd4j1Rhe6MHk86Qk3O2RtWOFq22c8xVt_4xFtwgJ-z8jj2ik5GJSWxuMHRKH8zZjJyC0WSbQ1o0HwI83b4zFi_RBcibNwyy4JvZ_GzfUyKL01w3O1QhcKX3PKnwruVitvVX_w-f866s3LJZ_MI-sK5Y9lVcA-urMW-ZeJ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"c16d9f5a-55f0-4c9f-b8ae-9b23cc766423","Name":"My Updated Carrier","Private":true,"Editable":true,"Services":null}'
  recorded_at: Wed, 08 Apr 2015 12:59:04 GMT
[...]
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/beta/carriers/c16d9f5a-55f0-4c9f-b8ae-9b23cc766423
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Q-1C_f1iard8mGq-7r1yDsBrJ58rpnTBbzL-7_skwXmWNP6mlWMn3SCDuDznJoKMax5YZEsklMCmfqI_Cm6IjcWst7Tfd4j1Rhe6MHk86Qk3O2RtWOFq22c8xVt_4xFtwgJ-z8jj2ik5GJSWxuMHRKH8zZjJyC0WSbQ1o0HwI83b4zFi_RBcibNwyy4JvZ_GzfUyKL01w3O1QhcKX3PKnwruVitvVX_w-f866s3LJZ_MI-sK5Y9lVcA-urMW-ZeJ
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"The request is invalid.","ModelState":{"Carrier{Id=c16d9f5a-55f0-4c9f-b8ae-9b23cc766423}":["Resource
        not found"]}}'
  recorded_at: Wed, 08 Apr 2015 12:59:05 GMT
recorded_with: VCR 2.9.3
