---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers/de306a53-25c5-48b6-a722-e71a38afbf95
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d_AZFVtWxHrssswxzVlPm76JoNvgqyh9chPavWs2cJW3b7sBYD2IdMDhXDvq4OUSs03weHkE3ojfKyXoGYRMeU4DgH_1AVksWGMS1_6qkJwRyjWbEo1n28uuoBWWtgg8tiLPsRI57s7-n5uIKub0ST665qtsvxQMw0_Aagf2Yw4mr5jG1tD1Wnz0RXSHOHPI-WVHcVkoXQPb5QaOWDpT-MqiRfKCkpw83XnRfjx2oqvKTl-oyH5p9kTS8HY0_XHG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"de306a53-25c5-48b6-a722-e71a38afbf95","Name":"MyHermes","Private":false,"Editable":false,"Services":null}'
  recorded_at: Sat, 07 Feb 2015 10:21:37 GMT
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers/de306a53-25c5-48b6-a722-e71a38afbf95/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer d_AZFVtWxHrssswxzVlPm76JoNvgqyh9chPavWs2cJW3b7sBYD2IdMDhXDvq4OUSs03weHkE3ojfKyXoGYRMeU4DgH_1AVksWGMS1_6qkJwRyjWbEo1n28uuoBWWtgg8tiLPsRI57s7-n5uIKub0ST665qtsvxQMw0_Aagf2Yw4mr5jG1tD1Wnz0RXSHOHPI-WVHcVkoXQPb5QaOWDpT-MqiRfKCkpw83XnRfjx2oqvKTl-oyH5p9kTS8HY0_XHG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Id":"bfe4bd60-39e1-43aa-a61b-0900dc38c5c6","Name":"Parcelshop","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},{"Id":"b42a0b50-0393-43cf-9499-4fe90ec020f7","Name":"Courier","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null}]'
  recorded_at: Sat, 07 Feb 2015 10:21:37 GMT
recorded_with: VCR 2.9.3
