---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/bookings/cdae84a1-7881-45c1-80e4-ba9545be5a85
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer pqoxPRTKrjs8G1i_hlyrpTcdl2DTIorMPdsL4_iHFI6q8Y2vNmbU5E34OC3tVM5whEIeRCm_RPNliFhAme1hVGtssYhMVHQtYEgmsUBpGQS7vm4ACoTR08Mlu8pj5Nxv3ee4n8xZilcPFi_YtgV3W-DvXEh86nFmSMBSkJ0elHQeugv7I6YOhqrfdHaS9DOwVJwz_UfYozEDhfY16mPNkfPDZw4MK8R3-udQJBlR2uptvIgdbPvNd5nYGEKHlgNk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"f74d12c0-7135-4cf6-8f33-8d99127e7ce3","BookingId":"cdae84a1-7881-45c1-80e4-ba9545be5a85","Currency":826,"PaymentUrl":"https://www.sendvia.co.uk/alpha5/pay/pal/F74D12C0-7135-4CF6-8F33-8D99127E7CE3","Paid":null,"ReceiptItems":[{"ShipmentId":"fa13db9f-1ee7-4d08-9e85-0cee3147cebc","Cost":2.780,"Service":{"Id":"bfe4bd60-39e1-43aa-a61b-0900dc38c5c6","Name":"Parcelshop","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Vat":true}]}'
  recorded_at: Tue, 10 Feb 2015 16:35:42 GMT
recorded_with: VCR 2.9.3
