---
http_interactions:
- request:
    method: post
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers
    body:
      encoding: UTF-8
      string: '{"nonsense":"true"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer OE7x-0ILBBpV0SJ-1N8HKDTWDDIvHeWs2DPGIn7Nem9R0-t0N0FHGv7vwxKcp1qEZOtCs7DufpJPAgWGCAfNQkA3jGFxCnDZbkMSuutFKSi3iJ7v1ewC8Ph-c12HPen0x2CXyRqXNLxIUHO3M6m1h5IJScMOfJQvd-sIRRUB9zolhwWCu4RtRMBF6SLIRNhwfmc0wCx1rGsE-i2aoYgkkVm-C_wrBXkDtKqqupsmzqp9I1kwGE305LxrNK8uzZSz
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"The request is invalid.","ModelState":{"carrier":["Required
        property ''Id'' not found in JSON. Path '''', line 1, position 19."],"carrier.Name":["The
        Name field is required."]}}'
  recorded_at: Fri, 06 Feb 2015 20:12:55 GMT
recorded_with: VCR 2.6.0
