---
http_interactions:
- request:
    method: post
    uri: https://www.sendvia.co.uk/rest/alpha5/quotes
    body:
      encoding: UTF-8
      string: '{"Id":"580e4ded-8319-4518-ba72-40a948e06af9","Currency":826,"Shipments":[{"Id":"f125eac2-515c-4368-bd21-b73b01fc7254","Sender":{"Id":"82627a2d-f6ab-417b-8e9c-3d418dc7bf27","Address":{"Id":"33cd238a-73fb-4e48-9a62-ba595fd63156","Company":"A1A","Department":"Distributing","Floor":"Basement","StreetNumber":"1","Country":"GB","CountryIso":826},"FirstName":"Werner","Surname":"Heisenberg","PhoneNumber":"12323-121211","MobileNumber":"12323-23232","Email":"ww@a1a.com"},"Recipient":{"Id":"10e19b9f-8e09-4a3c-be34-a3c37617df91","Address":{"Id":"6d9dfd8d-27dd-4f2b-bca4-e6f1ad75a8bf","Company":"A1A","Department":"Distributing","Floor":"Basement","StreetNumber":"1","Country":"GB","CountryIso":826},"FirstName":"Werner","Surname":"Heisenberg","PhoneNumber":"12323-121211","MobileNumber":"12323-23232","Email":"ww@a1a.com"},"Parcels":[{"Id":"91b51b7a-4aa8-4a1e-9fb1-4144dd4b6ca5","Weight":355,"Size":{"Height":26,"Length":11,"Width":2},"Value":123.0,"Currency":826}],"Collection":"2015-02-12T14:39:53+00:00","Insured":false}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer LUwOjhTAneKfmEYqUoBKeuk36c7Qg4HzDuwQuh20Ho7CVnrJ2c2C-tc_XNmPBdrmts934e_RKTPcJ9pVuvzPGLUsBthP_A7eiJhb6u4I89oGznXUDKDCeLKJ_HzKXzcv-jN4s9bSvt8nCdiMqHgFZGuIKB-Cu3A_DYJUFMvIRYBzYHR3IINRYMYO9z33PSPiLhsOf_SO7P-lZ33Eya_qthm0LprHKpm9cQwOduy0I6aVpvRxEIvOca--3VQhHc4x
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"03967b9f-f054-4142-bc86-a1f2835e2231","QueryId":"580e4ded-8319-4518-ba72-40a948e06af9","Currency":826,"QuoteShipments":[{"ShipmentId":"f125eac2-515c-4368-bd21-b73b01fc7254","Cost":7.440,"Surcharge":0.0,"EarliestCollection":"2015-02-12T14:39:54.12","Service":{"Id":"23e10540-670f-4959-98da-875489469765","Name":"24","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Carrier":{"Id":"deb6893f-c2a5-4be0-a20a-4c0c28d2065f","Name":"Yodel","Private":false,"Editable":false,"Services":null},"Vat":true},{"ShipmentId":"f125eac2-515c-4368-bd21-b73b01fc7254","Cost":6.840,"Surcharge":0.0,"EarliestCollection":"2015-02-12T14:39:54.12","Service":{"Id":"f84f7f1c-77ea-4190-8f41-8519d6faab17","Name":"48","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Carrier":{"Id":"deb6893f-c2a5-4be0-a20a-4c0c28d2065f","Name":"Yodel","Private":false,"Editable":false,"Services":null},"Vat":true},{"ShipmentId":"f125eac2-515c-4368-bd21-b73b01fc7254","Cost":2.780,"Surcharge":0.0,"EarliestCollection":"2015-02-12T14:39:54.12","Service":{"Id":"bfe4bd60-39e1-43aa-a61b-0900dc38c5c6","Name":"Parcelshop","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Carrier":{"Id":"de306a53-25c5-48b6-a722-e71a38afbf95","Name":"MyHermes","Private":false,"Editable":false,"Services":null},"Vat":true},{"ShipmentId":"f125eac2-515c-4368-bd21-b73b01fc7254","Cost":2.980,"Surcharge":0.0,"EarliestCollection":"2015-02-12T14:39:54.12","Service":{"Id":"b42a0b50-0393-43cf-9499-4fe90ec020f7","Name":"Courier","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Carrier":{"Id":"de306a53-25c5-48b6-a722-e71a38afbf95","Name":"MyHermes","Private":false,"Editable":false,"Services":null},"Vat":true}]}'
  recorded_at: Thu, 12 Feb 2015 14:40:00 GMT
recorded_with: VCR 2.9.3
