---
http_interactions:
- request:
    method: post
    uri: https://www.sendvia.co.uk/rest/alpha5/quotes
    body:
      encoding: UTF-8
      string: '{"Id":"9f0ae81c-9eb8-43e9-83be-35ebca2bdfcd","Currency":826,"Shipments":[{"Id":"a4f1c0af-ef7e-44b3-8771-2bc6fd270e6c","Sender":{"Id":"a06d62c0-f7af-4693-9176-b3c447fefb62","Address":{"Id":"f308e421-7995-4fe3-a96e-257642c17870","Company":"A1A","Department":"Distributing","Floor":"Basement","StreetNumber":"1","Country":"GB","CountryIso":826},"FirstName":"Werner","Surname":"Heisenberg","PhoneNumber":"12323-121211","MobileNumber":"12323-23232","Email":"ww@a1a.com"},"Recipient":{"Id":"7800f767-2781-4a65-a750-2a1a711d0b0d","Address":{"Id":"ead93e57-9665-4a76-9784-752398288483","Company":"A1A","Department":"Distributing","Floor":"Basement","StreetNumber":"1","Country":"GB","CountryIso":826},"FirstName":"Werner","Surname":"Heisenberg","PhoneNumber":"12323-121211","MobileNumber":"12323-23232","Email":"ww@a1a.com"},"Parcels":[{"Id":"b1dca525-da08-452a-89ff-36a658c87fef","Weight":905,"Size":{"Height":13,"Length":41,"Width":36},"Value":123.0,"Currency":826}],"Collection":"2015-02-12T14:40:00+00:00","Insured":false}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer LUwOjhTAneKfmEYqUoBKeuk36c7Qg4HzDuwQuh20Ho7CVnrJ2c2C-tc_XNmPBdrmts934e_RKTPcJ9pVuvzPGLUsBthP_A7eiJhb6u4I89oGznXUDKDCeLKJ_HzKXzcv-jN4s9bSvt8nCdiMqHgFZGuIKB-Cu3A_DYJUFMvIRYBzYHR3IINRYMYO9z33PSPiLhsOf_SO7P-lZ33Eya_qthm0LprHKpm9cQwOduy0I6aVpvRxEIvOca--3VQhHc4x
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"4e877aa3-7ef7-488d-be38-506815e1a903","QueryId":"9f0ae81c-9eb8-43e9-83be-35ebca2bdfcd","Currency":826,"QuoteShipments":[{"ShipmentId":"a4f1c0af-ef7e-44b3-8771-2bc6fd270e6c","Cost":6.840,"Surcharge":0.0,"EarliestCollection":"2015-02-12T14:40:00.787","Service":{"Id":"f84f7f1c-77ea-4190-8f41-8519d6faab17","Name":"48","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Carrier":{"Id":"deb6893f-c2a5-4be0-a20a-4c0c28d2065f","Name":"Yodel","Private":false,"Editable":false,"Services":null},"Vat":true},{"ShipmentId":"a4f1c0af-ef7e-44b3-8771-2bc6fd270e6c","Cost":7.440,"Surcharge":0.0,"EarliestCollection":"2015-02-12T14:40:00.787","Service":{"Id":"23e10540-670f-4959-98da-875489469765","Name":"24","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Carrier":{"Id":"deb6893f-c2a5-4be0-a20a-4c0c28d2065f","Name":"Yodel","Private":false,"Editable":false,"Services":null},"Vat":true},{"ShipmentId":"a4f1c0af-ef7e-44b3-8771-2bc6fd270e6c","Cost":2.980,"Surcharge":0.0,"EarliestCollection":"2015-02-12T14:40:00.787","Service":{"Id":"b42a0b50-0393-43cf-9499-4fe90ec020f7","Name":"Courier","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Carrier":{"Id":"de306a53-25c5-48b6-a722-e71a38afbf95","Name":"MyHermes","Private":false,"Editable":false,"Services":null},"Vat":true},{"ShipmentId":"a4f1c0af-ef7e-44b3-8771-2bc6fd270e6c","Cost":2.780,"Surcharge":0.0,"EarliestCollection":"2015-02-12T14:40:00.787","Service":{"Id":"bfe4bd60-39e1-43aa-a61b-0900dc38c5c6","Name":"Parcelshop","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Carrier":{"Id":"de306a53-25c5-48b6-a722-e71a38afbf95","Name":"MyHermes","Private":false,"Editable":false,"Services":null},"Vat":true}]}'
  recorded_at: Thu, 12 Feb 2015 14:40:05 GMT
recorded_with: VCR 2.9.3
