---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers/deb6893f-c2a5-4be0-a20a-4c0c28d2065f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer hufaVakyrZ2z9N0NLOe5cxHfM-aHgM2Wt4QGk2FOOm3FchYCzhXBgkOFV29nY9H7TDMsSCdswu0144cN64G1KQ7F8Nwk3gczaihKQDYGZ9KHvT3cGzGnDWI8zCSQ3y-gCR87LpwDsBrR24YlQKXUmpBKYAlbeIJDp-R0nWa7Elp8ce_z65WViUBa9AUT-qWWIJz5tGtCFFgl2Qys2ILWEAI_vybSbUSriQmU1wAPu45zKDL3_3rRvr-GRlEMq2OO
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"deb6893f-c2a5-4be0-a20a-4c0c28d2065f","Name":"Yodel","Private":false,"Editable":false,"Services":null}'
  recorded_at: Fri, 06 Feb 2015 16:21:37 GMT
recorded_with: VCR 2.6.0
