---
http_interactions:
- request:
    method: post
    uri: https://www.sendvia.co.uk/rest/alpha5/bookings
    body:
      encoding: UTF-8
      string: '{"Id":"cdae84a1-7881-45c1-80e4-ba9545be5a85","Currency":826,"BookingShipments":[{"Shipment":{"Id":"fa13db9f-1ee7-4d08-9e85-0cee3147cebc","Sender":{"Id":"4f038346-c461-40bd-8c5b-0d750b083e41","Address":{"Id":"aee47540-801a-4e09-addf-352a143f1006","Company":"A1A","Department":"Distributing","Floor":"Basement","StreetNumber":"1","Country":"GB","CountryIso":826},"FirstName":"Werner","Surname":"Heisenberg","PhoneNumber":"12323-121211","MobileNumber":"12323-23232","Email":"ww@a1a.com"},"Recipient":{"Id":"f68c55c2-d91e-4e89-b566-23a6b1ad6341","Address":{"Id":"dcaf323d-ad2d-4331-90b5-ba6336d93753","Company":"A1A","Department":"Distributing","Floor":"Basement","StreetNumber":"1","Country":"GB","CountryIso":826},"FirstName":"Werner","Surname":"Heisenberg","PhoneNumber":"12323-121211","MobileNumber":"12323-23232","Email":"ww@a1a.com"},"Parcels":[{"Id":"d9cfc39a-badb-44e2-ba9f-c5b18d578e0a","Weight":819,"Size":{"Height":16,"Length":47,"Width":21},"Value":123.0,"Currency":826}],"Collection":"2015-02-10T14:50:36+00:00","Insured":false},"ServiceId":"bfe4bd60-39e1-43aa-a61b-0900dc38c5c6"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer Mptl-IDsMoEX5PP0O7gNaeyx5PLellWTVIjjbA3GIF3BCaNTvqSpowALqNKDiQuMmcflqojQVHL8Cie3Ql7bxP9a5YQBc_uUgrSoI1ZIVJvtXN2AyCZr6yk6hX-6jglpMMBWKytM7JD18K20K-1FyeQTEx8BIuVxwOJ5s4GOPSyU5abmcEZNxLHNmVZvckQltkeg9lDOMCegdZWkqeIredT07jBywhu3brHpo_HlQ82r-FJbFyqX4omyqYresi61
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"f74d12c0-7135-4cf6-8f33-8d99127e7ce3","BookingId":"cdae84a1-7881-45c1-80e4-ba9545be5a85","Currency":826,"PaymentUrl":"https://www.sendvia.co.uk/alpha5/pay/pal/F74D12C0-7135-4CF6-8F33-8D99127E7CE3","Paid":null,"ReceiptItems":[{"ShipmentId":"fa13db9f-1ee7-4d08-9e85-0cee3147cebc","Cost":2.780,"Service":{"Id":"bfe4bd60-39e1-43aa-a61b-0900dc38c5c6","Name":"Parcelshop","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Vat":true}]}'
  recorded_at: Tue, 10 Feb 2015 14:50:43 GMT
recorded_with: VCR 2.9.3
