---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/shipments/fa13db9f-1ee7-4d08-9e85-0cee3147cebc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer wgtkZTNkXCKzJwFTqSrSKXL4ba4PVZWnm4dbLtogos-9_zIDw-12guEH_jrfHz9Skd6W8WTPet61P3_CNS-bqonrgkUMWU-ZPczuf8hdNWLJ0TQchJcn6L8hU5i69ObTP04JSkDm5xlK-6tSICc6-DVf7F1I_kT1_FreUkqklXnMGoxfTwYOWZBgoGVWPMRAGdj3jkzDIM_HvZCZAyA2BIhKz__XIURqCi0awAfWUSEFaYrLXbFGq6r2D5P3CYuI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"fa13db9f-1ee7-4d08-9e85-0cee3147cebc","Sender":{"Id":"4f038346-c461-40bd-8c5b-0d750b083e41","Address":{"Id":"aee47540-801a-4e09-addf-352a143f1006","Company":"A1A","Department":"Distributing","Floor":"Basement","StreetNumber":"1","BuildingName":null,"BoxNumber":null,"Street":null,"Locality":null,"City":null,"GoverningDistrict":null,"PostalArea":null,"Country":null,"CountryIso":826},"FirstName":"Werner","MiddleNames":null,"Surname":"Heisenberg","PhoneNumber":"12323-121211","MobileNumber":"12323-23232","Email":"ww@a1a.com"},"Recipient":{"Id":"f68c55c2-d91e-4e89-b566-23a6b1ad6341","Address":{"Id":"dcaf323d-ad2d-4331-90b5-ba6336d93753","Company":"A1A","Department":"Distributing","Floor":"Basement","StreetNumber":"1","BuildingName":null,"BoxNumber":null,"Street":null,"Locality":null,"City":null,"GoverningDistrict":null,"PostalArea":null,"Country":null,"CountryIso":826},"FirstName":"Werner","MiddleNames":null,"Surname":"Heisenberg","PhoneNumber":"12323-121211","MobileNumber":"12323-23232","Email":"ww@a1a.com"},"Parcels":[{"Id":"d9cfc39a-badb-44e2-ba9f-c5b18d578e0a","Reference":null,"Weight":819,"Size":{"Height":16,"Length":47,"Width":21},"CommodityCode":null,"Description":null,"Value":123.000,"Currency":826}],"Reference":null,"Collection":"2015-02-10T14:50:36","Instructions":null,"Insured":false,"Cancelled":null}'
  recorded_at: Thu, 12 Feb 2015 10:21:37 GMT
recorded_with: VCR 2.9.3
