---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer NepuTdN6o7LQzsj2gE4gIs0WUQ8EABTY-lkj1TIWCHaDzDaP551b0ioPENSIWKgKRttDJCHcdG0HWIjsZE99gTwvH8s9YkUYva3pxvkyH2OizcE0LZZI6C17nw31izWylqMpj5omRvGteXgw--kyMQv7HXg52QEl07Lsdz98HusKXM_A-osomdL7Wezr79pY3q9uU7TlL407-3V1mb8dYLnRn4III5Hvjak3fmnGXK7yZHK55wUpdRdVMnNAaaZW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Id":"deb6893f-c2a5-4be0-a20a-4c0c28d2065f","Name":"Yodel","Private":false,"Editable":false,"Services":null},{"Id":"de306a53-25c5-48b6-a722-e71a38afbf95","Name":"MyHermes","Private":false,"Editable":false,"Services":null}]'
  recorded_at: Fri, 06 Feb 2015 14:42:27 GMT
recorded_with: VCR 2.6.0
