---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/receipts/f74d12c0-7135-4cf6-8f33-8d99127e7ce3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer yvqH_sQP_sjGQZASDxzb5A0JhBvBcpeKM9LKGckNKCCNtPtPUCm4FNhq3ELEz0n9Q4--AWSpf2NUWCrsGJZYnDnlODpC5TiD96bzG23TGOmOsUULQY9Ec_MTWTQmONfquH85zswVycrUtaS94J4p_5Ipv7lPM1n-VO1DRUSvcZEISmxAP35uOizt8zcqjlOEuOAqnNaAlKszQShfHNOL8ol-fzoK4AktGG2JvrQPsDjPwCH2dOqdh5RWJOIipnDR
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"f74d12c0-7135-4cf6-8f33-8d99127e7ce3","BookingId":"cdae84a1-7881-45c1-80e4-ba9545be5a85","Currency":826,"PaymentUrl":"https://www.sendvia.co.uk/alpha5/pay/pal/F74D12C0-7135-4CF6-8F33-8D99127E7CE3","Paid":"2015-02-12T11:43:56.227","ReceiptItems":[{"ShipmentId":"fa13db9f-1ee7-4d08-9e85-0cee3147cebc","Cost":2.780,"Service":{"Id":"bfe4bd60-39e1-43aa-a61b-0900dc38c5c6","Name":"Parcelshop","Transport":"Road","Tracked":true,"Volumetric":false,"PrintLabels":false,"Description":"","Information":"","Routes":null},"Vat":true}]}'
  recorded_at: Thu, 12 Feb 2015 13:58:33 GMT
recorded_with: VCR 2.9.3
