---
http_interactions:
- request:
    method: get
    uri: https://www.sendvia.co.uk/rest/alpha5/carriers/deb6893f-c2a5-4be0-a20a-4c0c28d2065f/services/2657fa9b-2757-4826-9865-6610cf2bba41/routes/7a300f97-f160-4843-b0eb-81a5f7fbd6c0/rates/82e66523-87b9-4f3f-bf0a-846f4ad8997e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer xuHO0C5cn7g4zCWh2kWK7SMOtSZ3vvgpRKp8mMPQdHlXurAp-lauqtTpdSD3Y92o1ALVPdWtylRa43AXo-m5aFQYZ7-1jxwnhfqw3npn57pXAoYVDGp4k7j8jfBFc9BmV05ln-MLxZBc15Mg9311z0n-vMhdsKNgn03OtAx46uhIqcCSI2k-tBsHFSot8mdxZikV0nYuzWMWUuTMMuC2G4tBJUAqGoF7egYdofCFmZPT2VpDHCDjO1Dr6P_MvGhk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Id":"82e66523-87b9-4f3f-bf0a-846f4ad8997e","Start":"2014-11-12T10:17:33","End":"2019-11-12T10:17:33","MinWeight":0,"MaxWeight":30000,"MinVolume":0,"MaxVolume":200,"MinLength":0,"MaxLength":1450,"MinWidth":0,"MaxWidth":1450,"MinHeight":0,"MaxHeight":1450,"MinQuantity":0,"MaxQuantity":2147483647,"WeightRate":0.0,"ItemRate":11.990,"Currency":826}'
  recorded_at: Tue, 17 Feb 2015 10:52:27 GMT
recorded_with: VCR 2.9.3
